<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Free web designer template - by Devma</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script> new WOW().init(); </script>
  </head>
  <body>
    <div class="header">
      <div class="navbar">
        <div class="logo">
          <h3>로또</h3>
        </div>
        <ul class=""  id="navbarid">
          <!-- <li><a href="#">start</a></li>
          <li><a id="about-me" class="active" href="#">about me</a></li>
          <li><a id="work" href="#">work</a></li>
          <li><a id="contact" href="#">contact</a></li>
          <li class="icon"><a href="#"> -->
          </a></li>
        </ul>
      </div>
      <div class="header-content">
        <h1>My I introduce myself ?</h1>
        <h3>Fontend Designer | UI/UX Designer</h3>
      </div>
      <img src="../static/img/money.jpeg" alt="">
      <div class="goahead">
        <a href="#">Lotto</a>
      </div>
    </div>
    <!-- about-me -->
    <div class="about-me">
      <div class="about-me-intero wow fadeIn  data-wow-duration="0s" data-wow-delay="0s"">
        <h1>로또</h1>
		<p>
		<h3 >오늘은 {{today_}}</h1>
            <h4 >이번에 받은 로또 번호의 발표 일은 {{satur}}</h4>
        1등 되자</p>
      </div>
      <div class="about-me-block col-md-5">
        <div class="item col-md-15 wow fadeIn  data-wow-duration="0s" data-wow-delay="0.1s"">
			<a href="/show_num">
          <img src="../static/img/icon1.png" alt="">
					</a>
          <h3>번호 얻기</h3>
          <p>위 버튼을 누르면 이번 주 로또 추천 번호 10 세트가 나옵니다.</p>
        </div>

    <!-- contact-us

    <div class="contact-us wow fadeIn  data-wow-duration="2s" data-wow-delay="1s"">
      <h1>Get in touche!</h1>
      <form action="">
        <div class="name-info">
          <input type="text" name="" value="" placeholder="Name">
          <input type="text" name="" value="" placeholder="Email">
        </div>
        <textarea name="name" rows="8" cols="80" placeholder="How I can helpe you?"></textarea>
        <div class="wow zoomIn  data-wow-duration="2s" data-wow-delay="1s"">
          <button type="submit">Send</button>
        </div>
      </form>
    </div>
    <div class="footer">
      <div class="sociaux col-md-12">
        <div class="facebook col-md-4 wow fadeIn  data-wow-duration="2s" data-wow-delay="1s"">
          <a href="#"></a>
        </div>
        <div class="dribbble col-md-4 wow fadeIn  data-wow-duration="2s" data-wow-delay="1.5s"">
          <a href="#"></a>
        </div>
        <div class="twitter col-md-4 wow fadeIn  data-wow-duration="2s" data-wow-delay="2s"">
          <a href="#"></a>
        </div>
      </div>
      <div class="copyright">
        <h5>Copyright (c) 2017 By  <a href="https://goo.gl/Dz4SeU">Devma</a></h5>
      </div>
    </div> -->
<!-- <div class="goTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></div>
    <script src="js/jquery.min.js"></script>
    <script src="js/mainscript.js"></script>
  </body> -->
</html>
