<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Free web designer template - by Devma</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script> new WOW().init(); </script>
  </head>
  <body>
    <div class="header">
      <div class="navbar">
        <div class="logo">
          <h3>로또</h3>

            {% for num in suggested_num %}
            <h2 > {{num}}</h3>

            {% endfor %}
            <h1 > 당첨되면 메로나 </h1>
            </body>